
<%- include('../partials/headerPedido.ejs'); %>

<%- include('../partials/flash.ejs'); %>

<div class="container">

    <a href="/pedidos/pedidos-repartidor">Atras</a>

    <div class="h4">Armar Pedido</div>

    <div class="row justify-content-between ">
        <div class="col-9">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Elegir cliente</option>
                <% for( let clientes of clientesActuales ) { %>
                  <option value="<%= clientes._id %>" ><%= clientes.nombreLocal %></option>
                <% } %>
              </select>
        </div>
        <div class="col-3 px-2">
            <a class="btn btn-outline-success" href="/clientes/agregar-cliente">Agregar+</a>
        </div>
    </div>
    <div class="row justify-content-between align-items-center">
        <div class="col-10">
            <input class="form-control" placeholder="Tap para buscar" type="search" name="inputIrBuscar" id="inputIrBuscar">

          </div>
          <div id="lupaBusqueda" class="col-2 text-start">

              <img  class="p-3 img-fluid" src="/imgs/lupa.svg" alt="">
              
          </div>
        </div>
        <!-- <div class="row justify-content-end p-2 mt-3">
          <div class="col-3 text-center">
            <p>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> ' </option>
                <option value="1">Precio</option>
                <option value="2">Cantidad</option>
              </select>
              
            </p>
        </div>
        </div> -->
       
    </div>
    <!-- display de busqueda de productos -->
<div class="container-fluid">

  <div class="d-flex justify-content-between p-1">


  </div>
</div>
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Productos</th>

            <th scope="col">Cantidad</th>

            <th scope="col">Precio</th>

            
          </tr>
        </thead>
        <tbody id="tableParaProductosP">

          
          
        </tbody>
      </table>


      <div class="row text-center">
        <div class="col-sm-6"><a href="">Eliminar producto</a></div>
        <div class="col-sm-6"><p>TOTAL: $0</p></div>
      </div>

      <div class="finalizar text-end ">
        <a class="" href="">Finalizar</a>
      </div>

</div>
<%- include('../partials/footerPedido.ejs'); %>
