<%- include('../partials/headerPedido.ejs'); %>

<%- include('../partials/flash.ejs'); %>
    <div class="container">
        <a href="/pedidos/pedidos-repartidor">Atras</a>

        <h2>Pedidos realizados</h2>

        <p>Explora los pedidos realizados a los clientes a travez del repartidor : <%= repartidor.username %> </p>
   
        <div class="accion d-flex">
            <div class="imprimirAlgunos">

            </div>

            <div class="marcarComo">

            </div>
            <div class="archivar">

            </div>
        </div>
        <table class="table">
            <thead>
              <tr>

                <th scope="col">Local</th>
                <th scope="col">Productos</th>
    
                <th scope="col">Cantidad</th>
    
                <th scope="col">Precio Total</th>
    
                <th scope="col">
                  <a onclick="generatePDF()" id="printAllbtn" class="btn btn-secondary ">Imprimir TODOS</a> 
                </th>
              </tr>
            </thead>
            <tbody id="tableParaProductosP">
    
              <% for( let pedidoIndividual of pedidos) { %>
                <tr>
                  <div>
                 
                       
                </div>
                  <td>
                    <!-- <%= pedidoIndividual.cliente %>  -->
                  </td>
                  <td>
                      <a href="/pedidos/<%= pedidoIndividual._id %>/ver-pedido">Productos</a>
                  </td>
                  <td>
                    <%= pedidoIndividual.cantidadDeProductos %> 
                  </td>
                  <td>
                    <%= pedidoIndividual.importeTotal %> 
                  </td>
                  <td>
                    <!-- <form action="/pedidos/<%= pedidoIndividual._id %>?_method=DELETE" method="post">
                      <button class="btn btn-warning">Borrar</button>
                  </form>                -->
                  <button class="btn btn-outline-secondary"> </button>
                  <input type="checkbox" name="imprimir" id="">
                </td>
                </tr>
              <% } %>
              
            </tbody>
          </table>
    
   
    </div>
    <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
 let listadoDePedidos = "";
    
     async function generatePDF(){

      const res = await axios.get('/pedidos/todos-axios');
     listadoDePedidos = res.data;
      if (listadoDePedidos){

        var pdfObject = jsPDFInvoiceTemplate.default(props); 

      }
     
      }
      var props = {
    outputType: jsPDFInvoiceTemplate.OutputType.Save,
    returnJsPDFDocObject: true,
    fileName: "Invoice 2021",
    orientationLandscape: false,
    compress: true,
    logo: {
        src: "https://raw.githubusercontent.com/edisonneza/jspdf-invoice-template/demo/images/logo.png",
        type: 'PNG', //optional, when src= data:uri (nodejs case)
        width: 53.33, //aspect ratio = width/height
        height: 26.66,
        margin: {
            top: 0, //negative or positive num, from the current position
            left: 0 //negative or positive num, from the current position
        }
    },
    stamp: {
        inAllPages: true, //by default = false, just in the last page
        src: "https://raw.githubusercontent.com/edisonneza/jspdf-invoice-template/demo/images/qr_code.jpg",
        type: 'JPG', //optional, when src= data:uri (nodejs case)
        width: 20, //aspect ratio = width/height
        height: 20,
        margin: {
            top: 0, //negative or positive num, from the current position
            left: 0 //negative or positive num, from the current position
        }
    },
    business: {
        name: "Isidorito",
        address: "San Pedro, Buenos",
        phone: "(+355) 069 11 11 111",
        email: "email@example.com",
        email_1: "info@example.al",
        website: "www.example.al",
    },
    contact: {
        label: "Invoice issued for:",
        name: "Client Name",
        address: "Albania, Tirane, Astir",
        phone: "(+355) 069 22 22 222",
        email: "client@website.al",
        otherInfo: "www.website.al",
    },
    invoice: {
        label: "Invoice #: ",
        num: 19,
        invDate: "Payment Date: 01/01/2021 18:12",
        invGenDate: "Invoice Date: 02/02/2021 10:17",
        headerBorder: false,
        tableBodyBorder: false,
        header: [
          {
            title: "#", 
            style: { 
              width: 10 
            } 
          }, 
          { 
            title: "Productos",
            style: {
              width: 80
            } 
          }, 
          { 
            title: "Descripción",
            style: {
              width: 30
            } 
          }, 
          { title: "Precio"},
          // { title: "Cantidad"},
          // { title: "Unidad"},
          // { title: "Total"}
        ],
        table: Array.from(productosPedido, (productoIm, index)=>([
            index + 1,
            `${productoIm.cliente.nombreLocal}`,
            `${productoIm.cantidadDeProductos }`,
            `${productoIm.importeTotal }`,

        ])),

        invDescLabel: "Cliente:",
        invDesc: "ZOESITA",
    },
    footer: {
        text: "The invoice is created on a computer and is valid without the signature and stamp.",
    },
    pageEnable: true,
    pageLabel: "Page ",
};
    </script>

    <!-- <script type="module" src="/imprimirPedido.js" ></script> -->
    
    <%- include('../partials/footer.ejs'); %>
