<%- include('../partials/headerAdm.ejs'); %>

    <div class="container p-md-4">
      <a class="px-3 btn btn-success " href="/administrador/estacionesdecobro">
        < Atras</a>

          <div class="row  justify-content-center">
            <div class="col-md-8 border border-dark p-y-2">
              <div class="row justify-content-between">
                <div class="col-6 lead px-md-3">
                  Panel de gesti贸n para: <%= estacionDeCobro.ubicacionDeEstacion %>
                </div> 
                <div id="actualTime" class="col-4 text-end lead px-md-3">


                </div>

              </div>
               
              <div class="row p-3">
                <div class="ACCIONES col-lg-6">

                  <ul class="  ">

                    <li class="nav-item ">
                      <a class="nav-link "
                        href="/administrador/estacionesdecobro/<%= estacionDeCobro._id %>/ingreso-efectivo-inicio">Ingresos de
                        efectivo para iniciar la caja</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link"
                        href="/administrador/estacionesdecobro/<%= estacionDeCobro._id %>/ingreso-efectivo">Ingresos de
                        efectivo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"
                        href="/administrador/estacionesdecobro/<%= estacionDeCobro._id %>/egreso-efectivo">Egresos de
                        efectivo</a>
                    </li>
                  
                   
                    
                    <li class="nav-item">
                      <a class="nav-link"
                    href="/administrador/estacionesdecobro/<%= estacionDeCobro._id%>/historial-usuario">Ver historial de
                    usuarios</a>
                    </li>
                   

                      <li class="nav-item">
                        <a class="nav-link"
                          href="/administrador/estacionesdecobro/<%= estacionDeCobro._id %>/cierre-caja">Cierre de caja</a>
                      </li>
                      
                      <li class="nav-item">

                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Resetear el dia
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content text-dark">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Restablecer dia de estaci贸n de cobro</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Cancelar"></button>
                            </div>
                            <div class="modal-body ">
                              Luego de reiniciar el dia, los valores de la caja: Dinero para iniciar la caja y dinero en caja se restablecen a 0. <br> Por lo cual se debe volver a colocar manualmente el dinero disponible para el dia

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <form class="d-flex px-2"
                                action="/administrador/estacionesdecobro/<%= estacionDeCobro._id%>/reset"
                                method="POST">
                                <label for="ingDin">Colocar dinero de inicio si se desea</label>
                                <input class="form-control" id="ingDin" placeholder="" type="number" name="dineroDeInicio">
                                <button class="btn btn-warning">Restablecer</button>
                               

                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                    </li>

                    
                    <li class="nav-item">
                      <a class="nav-link"
                        href="/administrador/estacionesdecobro/<%= estacionDeCobro._id %>/eliminar-caja">Eliminar Estacion de cobro</a>
                    </li>
                  </ul> 
                  
                
                </div>
                <div class="ultimas-compras col-lg-6">
                  <div class="row">

                      <h4>Informaci贸n de caja</h4>
                    <div class="col-12">
                      Dinero de inicio del dia: <%= estacionDeCobro.dineroDeInicio %>
                   </div>
                   <div class="col-12">
                    Dinero en
                   caja: <%= estacionDeCobro.dineroEnEstacion %>
                 </div> 
                 
                 <div class="col-12">
                  Ventas en efectivo:
                  <span><b>
                    
                  <%= estacionDeCobro.comprasRealizadasEnEfectivo %>
                </b></span>
              </div>

               <div class="col-12">
                Ventas en tarjeta/transferencia:
                  <span><b>
                    <%= estacionDeCobro.comprasRealizadasEnOtro %>

                  </b></span>
             </div>
                </div>
              </div>
            </div>

          </div>
    </div>

    <div class="ultimas-compras">





      <div class="row justify-content-center mt-md-4">
        <div  class="col-6">
          <h4 class="text-center">Ventas realizadas en la estaci贸n</h4>
          <!-- <div class="container d-flex justify-content-around">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="switchFechaDesc">
              <label class="form-check-label" for="switchFechaDesc">Fecha Descendente</label>
            </div>
            
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="switchEfecOtro">
              <label class="form-check-label" for="switchEfecOtro">Efectivo/Otro</label>
            </div>
          </div> -->
          <table class="table table-hover" >

            <thead>
              <tr>
                <th scope="col">Dinero ingresado</th>

                <th scope="col">Dinero de salida</th>

                <th scope="col">Cantidad de productos en la venta</th>

                <th scope="col">Se entrego ticket</th>
                <th scope="col">Tipo De Venta</th>

                <th scope="col">Fecha</th>




              </tr>
            </thead>
            <tbody style="overflow-y: scroll; height:400px;">
              <% for (let venta of estacionDeCobro.ventasRealizadasEnLaEstacion){ %>
                <tr>

                  <td>
                    <%= venta.dineroIngresado %>
                  </td>
                  <td>
                    <%= venta.dineroDeSalida %>
                  </td>


                  <td>
                    <%= venta.cantidadDeProductosTotales %>
                  </td>
                 
                  <td>
                    <%= venta.ticketEntregado %>
                  </td>
                  <td>
                    <%= venta.tipoDePago %>
                  </td>
                  <td>
                    <%= venta.createdAt.toLocaleDateString() %>
                  </td> 
                </tr>
                <%} %>



            </tbody>
          </table>
        </div>
      </div>








    </div>

    <script src="/ux.js"></script>
    <%- include('../partials/footer.ejs'); %>